# Logs and debug files
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
/dist/
/public/

# Environment variables
.env

# IDE specific files (optional)
.vscode/
.idea/

# MacOS specific
.DS_Store
